 <!-- <h2>Forgot Password</h2>
<form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" placeholder="Enter your email">
    <mat-error *ngIf="forgotPasswordForm.get('email')?.invalid">
      Please enter a valid email
    </mat-error>
  </mat-form-field>
  <div>
  <button mat-raised-button color="primary" type="submit">Submit</button>
  <button mat-raised-button type="button" (click)="onClose()">Cancel</button>
</div>
</form>  -->
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h3 class="modal-title" id="exampleModalLabel" style="font-size: 25px; font-weight:700">Forgot your password?</h3>
      
      <span>Please provide your E-mail we will send the reset link!</span><br>
    </div>
    
    <div>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    
    <div class="modal-body">
      <div class="form-group mb-3">
        <div class="form-floating mb-1">
          <span class="fa fa-user p-2"></span>
          <input  [(ngModel)]="resetPasswordEmail" (ngModelChange)="CheckValidEmail($event)" type="text" placeholder="Enter E-mail" class="form-control">
        </div>
        <small *ngIf="!resetPasswordEmail" class="text-danger">Email is required</small>
        <small  *ngIf="!isValidEmail && resetPasswordEmail"  class="text-danger">Email is Invalid</small>
      </div>
    </div>

    <div class="modal-footer">
      <button id="closebtn" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary" (click)="confirmtosend()" >Send</button>
    </div>
  </div>
</div>
